*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


/* fonts */
@font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Semibold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Bold.ttf");
    font-weight: 900;
  }



  .container{
    max-width:1140px;
    margin:0 auto;
    padding:0px 10px;
  }
  .top-screen{
    position: relative;
    margin-bottom:100px;
  }
  .top-screen-line{
    width:100%;
    height:1px;
    background-color: #969696;
    position: absolute;
    top:80px;
  }

  .header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:18px 0px;
  }
  
  .header__nav-list{
    display:flex;
    align-items: center;
    
  }

  .header__nav-social{
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-link{
    font-family: SF Pro Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.87px;
    color:#000;
  }

  .nav-item-link{
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 400;
color: #000;

  }
  .header__nav-item{
    margin-left:60px;
  }
  .header__nav-social-item{
    padding-top:4px;
    width:45px;
    height:45px;
    border-radius:50%;
    background-color: #0066FF;
    margin-left:20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.header__nav-social-item:nth-child(3){
  padding-right:3px;
}
  .promo{
    padding:40px 0px 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .promo-text{
    width:60%;
  }
  .promo-title{
    font-family: 'Audiowide';
font-size: 80px;
font-weight: 400;
text-transform: uppercase;
  }
  .promo-title span{
    color:#0066FF;
  }
  .promo-title-text{
    font-family: SF Pro Text;
font-size: 80px;
font-weight: 800;
text-transform: uppercase;
margin-bottom:37px;
-webkit-text-stroke: 2px #000;
color:transparent;
line-height: 95.47px;
  }
  .promo-describtion{
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 400;
color:#000;
margin-bottom:41px;
max-width:70%;
  }
  .promo-btn{
    font-family: SF Pro Text;
font-size: 20px;
font-weight: 500;
color:#fff;
background-color: #0066FF;
padding:15px 30px;
border-radius:12px;
border:none;
cursor:pointer;
transition: 0.3s;
  }
  .promo-btn:hover{
    background-color: #fff;
    color:#0066FF;
    border:1px solid #0066FF;
  }




  
/* slider */

.slider-container{
  margin-bottom:12px;
}


  .slider-text{
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 500;
text-transform: lowercase;
color:#000;
border:1px solid #000;
padding:17px 30px;
border-radius:100px;
margin:0 20px;
  }
  .slider-text-2{
    font-family: SF Pro Text;
font-size: 18px;
font-weight: 500;
text-transform: lowercase;
color:#0066FF;
border:1px solid #0066FF;
padding:17px 30px;
border-radius:100px;
margin:0 20px;
  }

 


  /* toggle */
.header{
  position:relative;
}
  .nav-toggle{
    display: none;
    position: absolute;
    left:35%;
    margin: 0 auto;
    width: 50px;
    height: 40px;
    cursor: pointer;
    top:15px;
  }
  
    .nav-toggle span {
        width: 100%;
        transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        height: 4px;
        background:#0066FF;
        position: absolute;
        border-radius: 10px;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: rotate(0);}
  
        .nav-toggle span:nth-child(1) {
            top: 7px;
            border-radius: 10px;
        }
        
        .nav-toggle span:nth-child(2) {
            top: 48%;
            width: 70%;
            border-radius: 10px;
        }
        .nav-toggle span:nth-child(3) {
          bottom:5%;
        }
        
  
  
  
  

  /* media */

 

  @media(max-width:1200px){
    .container{
      padding:0px 40px;
    }
    .promo-title{
      font-size:70px;
    }
    .promo-title-text{
      font-size:60px;
    }
    .promo-describtion{
      max-width:80%;
    }
    
     
  }
  @media(max-width:1000px){
    .promo-title{
      font-size:50px;
    }
    .promo-title-text{
      font-size:40px;
    }
  }

  @media(max-width:960px){
    .promo-describtion{
      max-width:90%;
    }
  }

  @media(max-width:870px){
     .promo{
      flex-direction: column-reverse;
     }
     .promo-text{
      text-align: center;
     }
     .promo-describtion{
      max-width:100%;
     }
     .promo-img{
      width:100%;
      text-align:center;
     }
     .promo-img img{
      width:60%;
     }
     .header__nav-list{
      display:none;
     }
     .nav-toggle{
      display:block;
     }
     .top-screen{
      position: relative;
     }

      .isopen{
        display:block;
      width:100%;
      background-color: #fff;
      }
     .nav__list-open{
      display:block;
      position: absolute;
      width:100%;
      background-color: #fff;
      top:80px;
      height:100vh;
      border-top:1px solid #969696;
      padding-top:40px;
      z-index:50;
     }
     .header__nav-item{
      margin:0 auto;
      width:30%;
      padding:10px 0px;
     }
     .slider-container{
      margin-bottom:20px;
    }
    
  }
  @media(max-width:700px){
    .promo-text{
      width:100%;
    }
    
  }
  @media(max-width:520px){
    .header__logo{margin-top:10px}
    .header__nav-social{
      display:none;
     }
     .nav-toggle{
      left:80%;
      top:18px;
    }
    .promo-img img{
      width:80%;
    }
  }
  @media(max-width:500px){
    .promo-img img{
      width:95%;
    }
  }

  @media(max-width:430px){
    .promo-title{
      font-size: 40px;
    }
    .promo-title-text{
      font-size: 30px;
    }
  }
  @media(max-width:400px){
    .container{
      padding:0px 20px;
    }
  }